<div>
    <h2 id="page-heading">
        <span jhiTranslate="revalApp.systemAccess.home.title">System Accesses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-system-access" [routerLink]="['/system-access/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="revalApp.systemAccess.home.createLabel">
            Create a new System Access
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="systemAccesses?.length === 0">
        <span jhiTranslate="revalApp.systemAccess.home.notFound">No systemAccesses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="systemAccesses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.systemAccess.sacAccessKey">Sac Access Key</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.systemAccess.sacAccessTypeCd">Sac Access Type Cd</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.systemAccess.sacAccessValue">Sac Access Value</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.systemAccess.sacAllowedInd">Sac Allowed Ind</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let systemAccess of systemAccesses ;trackBy: trackId">
                    <td><a [routerLink]="['/system-access', systemAccess.id, 'view']">{{ systemAccess.id }}</a></td>
                    <td>{{ systemAccess.sacAccessKey }}</td>
                    <td>{{ systemAccess.sacAccessTypeCd }}</td>
                    <td>{{ systemAccess.sacAccessValue }}</td>
                    <td>{{ systemAccess.sacAllowedInd }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/system-access', systemAccess.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/system-access', systemAccess.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(systemAccess)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
