<div>
    <h2 id="page-heading">
        <span jhiTranslate="revalApp.transactionCodes.home.title">Transaction Codes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction-codes" [routerLink]="['/transaction-codes/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="revalApp.transactionCodes.home.createLabel">
            Create a new Transaction Codes
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transactionCodes?.length === 0">
        <span jhiTranslate="revalApp.transactionCodes.home.notFound">No transactionCodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactionCodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.transactionCodes.tcdCode">Tcd Code</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.transactionCodes.tcdEntityGroupCd">Tcd Entity Group Cd</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.transactionCodes.tcdDesc">Tcd Desc</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.transactionCodes.tcdEnabledInd">Tcd Enabled Ind</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transactionCodes of transactionCodes ;trackBy: trackId">
                    <td><a [routerLink]="['/transaction-codes', transactionCodes.id, 'view']">{{ transactionCodes.id }}</a></td>
                    <td>{{ transactionCodes.tcdCode }}</td>
                    <td>{{ transactionCodes.tcdEntityGroupCd }}</td>
                    <td>{{ transactionCodes.tcdDesc }}</td>
                    <td>{{ transactionCodes.tcdEnabledInd }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transaction-codes', transactionCodes.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transaction-codes', transactionCodes.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transactionCodes)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
