<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lookup-types-heading" jhiTranslate="revalApp.lookupTypes.home.createOrEditLabel">Create or edit a Lookup Types</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="revalApp.lookupTypes.lktType" for="field_lktType">Lkt Type</label>
                    <input type="text" class="form-control" name="lktType" id="field_lktType"
                           formControlName="lktType"/>
                    <div *ngIf="editForm.get('lktType')!.invalid && (editForm.get('lktType')!.dirty || editForm.get('lktType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lktType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lktType')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="revalApp.lookupTypes.lktDesc" for="field_lktDesc">Lkt Desc</label>
                    <input type="text" class="form-control" name="lktDesc" id="field_lktDesc"
                           formControlName="lktDesc"/>
                    <div *ngIf="editForm.get('lktDesc')!.invalid && (editForm.get('lktDesc')!.dirty || editForm.get('lktDesc')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lktDesc')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lktDesc')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
