@import '@coreui/coreui/scss/coreui.scss';

.app-footer {
  height: 2.2rem;
}

a:hover {
  cursor: pointer;
}

.card {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.hipster {
  height: 85vh;
}

.sidebar {
  height: 100%;
}

.icon-text {
  margin-left: 5px;
}

.dropdown-menu {
  width: 13rem;
}
