<div>
    <h2 id="page-heading">
        <span jhiTranslate="revalApp.lookupTypes.home.title">Lookup Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lookup-types" [routerLink]="['/lookup-types/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="revalApp.lookupTypes.home.createLabel">
            Create a new Lookup Types
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="lookupTypes?.length === 0">
        <span jhiTranslate="revalApp.lookupTypes.home.notFound">No lookupTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lookupTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.lookupTypes.lktType">Lkt Type</span></th>
                    <th scope="col" ><span jhiTranslate="revalApp.lookupTypes.lktDesc">Lkt Desc</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lookupTypes of lookupTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/lookup-types', lookupTypes.id, 'view']">{{ lookupTypes.id }}</a></td>
                    <td>{{ lookupTypes.lktType }}</td>
                    <td>{{ lookupTypes.lktDesc }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/lookup-types', lookupTypes.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/lookup-types', lookupTypes.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(lookupTypes)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
